body {
  width: 350px;
  min-height: 300px;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.search-container {
  display: flex; /* 启用Flexbox布局 */
  align-items: center; /* 垂直居中对齐 */
  justify-content: space-between; /* 子元素之间的间隔平均分布 */
  padding: 5px;
  margin: 10px 0 10px 0;
}

.search-container > *:last-child {
  margin-right: 0; /* 最后一个元素不设置右侧边距 */
}

#magnifying-glass {
  width: 22px;
  height: 22px;
  padding: 0 5px;
  vertical-align: middle;
  justify-content: center;

}

#search-input {
  flex-grow: 1; /* 让输入框占据剩余空间 */
  margin: 0 10px; /* 添加左右边距 */
  padding: 5px;
  vertical-align: middle;
  justify-content: center;
}

#tab-count {
  font-weight: bold;
}

#tab-list {
  list-style: none;
  padding: 0;
  margin: 0 0;
  overflow-y: auto;
}

#tab-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  margin: 0;
  background-color: #fff;
  transition: background-color 0.3s;
}

#tab-list li > .close-btn {
  float: right;
  vertical-align: middle;
  justify-content: center;
  padding: 5px;
}

#tab-list li > .close-btn:hover {
  background-color: #b7b7b7;
}

#tab-list li:hover {
  background-color: #e0e0e0;
}

#tab-list li.selected {
  background-color: #D3E3FD;
}

.li-icon {
  margin-left: 0;
}

.tab-title {
  font-weight: bold;
  max-width: 285px;
}

.tab-url-hostname {
  color: #666;
  font-size: 0.9em;
  margin-top: 2px;
}

.li-item {
  width: 90%;
  padding: 0 0 0 10px;
}